In [2]:
import pandas as pd

In [3]:
DATA_PATH = "../data/raw/"
RAW_DATA = "survey_results_public.csv"

In [5]:
df = pd.read_csv(DATA_PATH + RAW_DATA)

In [6]:
# Check dataset size

print(f"Dataset size : {df.shape}")

Dataset size : (83439, 48)

In [12]:
# Check how many null objects in the datset. 

for column in df.columns : 
    print(f"Number of NaN in {column} : {df[column].isna().sum()}")
    missing_percentage = (df[column].isna().sum() / df.shape[0]) * 100
    formatted_percentage = "{:.2f}".format(missing_percentage)
    print(f"Which is {formatted_percentage}% of the dataset.")
    print("---------------------------------------------------------")

Number of NaN in ResponseId : 0
Which is 0.00% of the dataset.
---------------------------------------------------------
Number of NaN in MainBranch : 0
Which is 0.00% of the dataset.
---------------------------------------------------------
Number of NaN in Employment : 116
Which is 0.14% of the dataset.
---------------------------------------------------------
Number of NaN in Country : 0
Which is 0.00% of the dataset.
---------------------------------------------------------
Number of NaN in US_State : 68519
Which is 82.12% of the dataset.
---------------------------------------------------------
Number of NaN in UK_Country : 79021
Which is 94.71% of the dataset.
---------------------------------------------------------
Number of NaN in EdLevel : 313
Which is 0.38% of the dataset.
---------------------------------------------------------
Number of NaN in Age1stCode : 196
Which is 0.23% of the dataset.
---------------------------------------------------------
Number of NaN in LearnCode : 476
Which is 0.57% of the dataset.
---------------------------------------------------------
Number of NaN in YearsCode : 1798
Which is 2.15% of the dataset.
---------------------------------------------------------
Number of NaN in YearsCodePro : 22223
Which is 26.63% of the dataset.
---------------------------------------------------------
Number of NaN in DevType : 16955
Which is 20.32% of the dataset.
---------------------------------------------------------
Number of NaN in OrgSize : 22713
Which is 27.22% of the dataset.
---------------------------------------------------------
Number of NaN in Currency : 22359
Which is 26.80% of the dataset.
---------------------------------------------------------
Number of NaN in CompTotal : 36256
Which is 43.45% of the dataset.
---------------------------------------------------------
Number of NaN in CompFreq : 31289
Which is 37.50% of the dataset.
---------------------------------------------------------
Number of NaN in LanguageHaveWorkedWith : 1082
Which is 1.30% of the dataset.
---------------------------------------------------------
Number of NaN in LanguageWantToWorkWith : 6618
Which is 7.93% of the dataset.
---------------------------------------------------------
Number of NaN in DatabaseHaveWorkedWith : 13893
Which is 16.65% of the dataset.
---------------------------------------------------------
Number of NaN in DatabaseWantToWorkWith : 25140
Which is 30.13% of the dataset.
---------------------------------------------------------
Number of NaN in PlatformHaveWorkedWith : 31304
Which is 37.52% of the dataset.
---------------------------------------------------------
Number of NaN in PlatformWantToWorkWith : 41820
Which is 50.12% of the dataset.
---------------------------------------------------------
Number of NaN in WebframeHaveWorkedWith : 21732
Which is 26.05% of the dataset.
---------------------------------------------------------
Number of NaN in WebframeWantToWorkWith : 31344
Which is 37.57% of the dataset.
---------------------------------------------------------
Number of NaN in MiscTechHaveWorkedWith : 36384
Which is 43.61% of the dataset.
---------------------------------------------------------
Number of NaN in MiscTechWantToWorkWith : 45418
Which is 54.43% of the dataset.
---------------------------------------------------------
Number of NaN in ToolsTechHaveWorkedWith : 10902
Which is 13.07% of the dataset.
---------------------------------------------------------
Number of NaN in ToolsTechWantToWorkWith : 17959
Which is 21.52% of the dataset.
---------------------------------------------------------
Number of NaN in NEWCollabToolsHaveWorkedWith : 2205
Which is 2.64% of the dataset.
---------------------------------------------------------
Number of NaN in NEWCollabToolsWantToWorkWith : 10417
Which is 12.48% of the dataset.
---------------------------------------------------------
Number of NaN in OpSys : 145
Which is 0.17% of the dataset.
---------------------------------------------------------
Number of NaN in NEWStuck : 387
Which is 0.46% of the dataset.
---------------------------------------------------------
Number of NaN in NEWSOSites : 268
Which is 0.32% of the dataset.
---------------------------------------------------------
Number of NaN in SOVisitFreq : 1026
Which is 1.23% of the dataset.
---------------------------------------------------------
Number of NaN in SOAccount : 914
Which is 1.10% of the dataset.
---------------------------------------------------------
Number of NaN in SOPartFreq : 15886
Which is 19.04% of the dataset.
---------------------------------------------------------
Number of NaN in SOComm : 1120
Which is 1.34% of the dataset.
---------------------------------------------------------
Number of NaN in NEWOtherComms : 611
Which is 0.73% of the dataset.
---------------------------------------------------------
Number of NaN in Age : 1032
Which is 1.24% of the dataset.
---------------------------------------------------------
Number of NaN in Gender : 1153
Which is 1.38% of the dataset.
---------------------------------------------------------
Number of NaN in Trans : 2761
Which is 3.31% of the dataset.
---------------------------------------------------------
Number of NaN in Sexuality : 10073
Which is 12.07% of the dataset.
---------------------------------------------------------
Number of NaN in Ethnicity : 3975
Which is 4.76% of the dataset.
---------------------------------------------------------
Number of NaN in Accessibility : 5836
Which is 6.99% of the dataset.
---------------------------------------------------------
Number of NaN in MentalHealth : 6519
Which is 7.81% of the dataset.
---------------------------------------------------------
Number of NaN in SurveyLength : 1728
Which is 2.07% of the dataset.
---------------------------------------------------------
Number of NaN in SurveyEase : 1491
Which is 1.79% of the dataset.
---------------------------------------------------------
Number of NaN in ConvertedCompYearly : 36595
Which is 43.86% of the dataset.
---------------------------------------------------------

In [26]:
# Save the column names where the misssing_percentage is greater than 80% 

high_missing_percentage_columns = []

for column in df.columns : 
    missing_percentage = (df[column].isna().sum() / df.shape[0]) * 100
    formatted_percentage = "{:.2f}".format(missing_percentage)
    if missing_percentage > 50 : 
        high_missing_percentage_columns.append(column)
        print(f"- {column}")
        print("---------------------------------------------------------")

- US_State
---------------------------------------------------------
- UK_Country
---------------------------------------------------------
- PlatformWantToWorkWith
---------------------------------------------------------
- MiscTechWantToWorkWith
---------------------------------------------------------

In [22]:
# Visualize some values of US_State and UK_Country

index = df[high_missing_percentage_columns].sample(1).index[0]
df.iloc[index]

ResponseId                                                                  20884
MainBranch                                         I am a developer by profession
Employment                      Independent contractor, freelancer, or self-em...
Country                                                                    France
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                         Some college/university study without earning ...
Age1stCode                                                          11 - 17 years
LearnCode                       Other online resources (ex: videos, blogs, etc...
YearsCode                                                                      24
YearsCodePro                                                                   24
DevType                         Developer, front-end;Developer, desktop or ent...
OrgSize                                                      100 to 499 employees
Currency                                                        EUR European Euro
CompTotal                                                                  4500.0
CompFreq                                                                  Monthly
LanguageHaveWorkedWith                      C#;HTML/CSS;JavaScript;SQL;TypeScript
LanguageWantToWorkWith                      C#;HTML/CSS;JavaScript;SQL;TypeScript
DatabaseHaveWorkedWith                                 Microsoft SQL Server;Redis
DatabaseWantToWorkWith                    Microsoft SQL Server;MongoDB;PostgreSQL
PlatformHaveWorkedWith                                            Microsoft Azure
PlatformWantToWorkWith                                            Microsoft Azure
WebframeHaveWorkedWith                                      Angular;ASP.NET Core
WebframeWantToWorkWith                                      Angular;ASP.NET Core
MiscTechHaveWorkedWith                                         .NET Core / .NET 5
MiscTechWantToWorkWith                                         .NET Core / .NET 5
ToolsTechHaveWorkedWith                                                       Git
ToolsTechWantToWorkWith                                     Docker;Git;Kubernetes
NEWCollabToolsHaveWorkedWith                              Notepad++;Visual Studio
NEWCollabToolsWantToWorkWith                          Notepad++;Vim;Visual Studio
OpSys                                                                     Windows
NEWStuck                        Call a coworker or friend;Visit Stack Overflow...
NEWSOSites                                                         Stack Overflow
SOVisitFreq                                                 Daily or almost daily
SOAccount                                                                     Yes
SOPartFreq                                        A few times per month or weekly
SOComm                                                              Yes, somewhat
NEWOtherComms                                                                  No
Age                                                               45-54 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                 Straight / Heterosexual
Ethnicity                                            White or of European descent
Accessibility                                                   None of the above
MentalHealth                                                    Prefer not to say
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                       58368.0
Name: 20883, dtype: object

In [40]:
index = df[df['Country'] == 'United States of America'].sample(1).index[0]
df.iloc[index]

ResponseId                                                                  52731
MainBranch                                         I am a developer by profession
Employment                                                     Employed full-time
Country                                                  United States of America
US_State                                                                    Idaho
UK_Country                                                                    NaN
EdLevel                              Bachelor’s degree (B.A., B.S., B.Eng., etc.)
Age1stCode                                                          11 - 17 years
LearnCode                                          School;Other (please specify):
YearsCode                                                                       8
YearsCodePro                                                                    7
DevType                                                     Developer, full-stack
OrgSize                                                          2 to 9 employees
Currency                                                USD\tUnited States dollar
CompTotal                                                                  1000.0
CompFreq                                                                   Weekly
LanguageHaveWorkedWith          Bash/Shell;Dart;HTML/CSS;JavaScript;Node.js;Ty...
LanguageWantToWorkWith          Bash/Shell;Dart;HTML/CSS;JavaScript;Node.js;Ty...
DatabaseHaveWorkedWith                                                   Firebase
DatabaseWantToWorkWith                                            Firebase;SQLite
PlatformHaveWorkedWith                                                     Heroku
PlatformWantToWorkWith                                                        NaN
WebframeHaveWorkedWith                                            Gatsby;React.js
WebframeWantToWorkWith                                            Gatsby;React.js
MiscTechHaveWorkedWith                                       Flutter;React Native
MiscTechWantToWorkWith                                       Flutter;React Native
ToolsTechHaveWorkedWith                                         Git;Unity 3D;Yarn
ToolsTechWantToWorkWith                                         Git;Unity 3D;Yarn
NEWCollabToolsHaveWorkedWith              Android Studio;Visual Studio Code;Xcode
NEWCollabToolsWantToWorkWith                    Android Studio;Visual Studio Code
OpSys                                                                       MacOS
NEWStuck                        Visit Stack Overflow;Google it;Other (please s...
NEWSOSites                                          Stack Overflow;Stack Exchange
SOVisitFreq                                                  A few times per week
SOAccount                                                                     Yes
SOPartFreq                      I have never participated in Q&A on Stack Over...
SOComm                                                             No, not really
NEWOtherComms                                                                  No
Age                                                               25-34 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                 Straight / Heterosexual
Ethnicity                                            White or of European descent
Accessibility                                                   None of the above
MentalHealth                    I have a concentration and/or memory disorder ...
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                       50000.0
Name: 52730, dtype: object

In [27]:
# check how many numerical values on the dataset 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

In [39]:
# Check how many numerical values in the dataset 

column_type_counts = {
    'non_numerical_columns': 0,
    'numerical_columns': 0
}

for column in df.columns : 
    if df[column].dtype == numpy.dtypes.ObjectDType : 
        column_type_counts['non_numerical_columns'] += 1
    else : 
        column_type_counts['numerical_columns'] += 1
        
column_type_counts

# Based on the results, this is not accurate. 
# The results shows that we have 3 numerical values 
# in fact, we have other 2 numerical features that are 
# considered as object

{'non_numerical_columns': 45, 'numerical_columns': 3}

In [42]:
# Why the two numerical features are considered as object 

num_feats = ['YearsCode', 'YearsCodePro'] 

for feat in num_feats : 
    print(f"Unique values: \n{df[feat].unique()}") 
    print("-------------------------------------")

Unique values:
[nan '7' '17' '3' '4' '6' '16' '12' '15' '10' '40' '9' '26' '14' '39' '20'
 '8' '19' '5' 'Less than 1 year' '22' '2' '1' '34' '21' '13' '25' '24'
 '30' '31' '18' '38' 'More than 50 years' '27' '41' '42' '35' '23' '28'
 '11' '37' '44' '43' '36' '33' '45' '29' '50' '46' '32' '47' '49' '48']
-------------------------------------
Unique values:
[nan '10' '4' '5' '6' '2' '30' '9' '18' '12' '21' '1' '16'
 'Less than 1 year' '15' '3' '35' '7' '8' '17' '14' '26' '25' '20' '50'
 '34' '11' '24' '22' '13' '31' '23' '39' '41' '27' '28' '19' '33'
 'More than 50 years' '37' '29' '32' '43' '40' '38' '45' '42' '46' '36'
 '44' '47' '48' '49']
-------------------------------------

In [43]:
# This two features contains string values. Therefore, pandas 
# is not able to interpret these columns as numerical. 
# We should handle this issue in the pre-processing step.

In [48]:
# Check other potential numerical features 

other_pnum_feats = ['Age1stCode', 'CompTotal']
for feat in other_pnum_feats : 
    print(f"Unique values: \n{df[feat].unique()}") 
    print("-------------------------------------")

Unique values:
['18 - 24 years' '11 - 17 years' '5 - 10 years' '25 - 34 years'
 '35 - 44 years' 'Younger than 5 years' '45 - 54 years' '55 - 64 years'
 nan 'Older than 64 years']
-------------------------------------
Unique values:
[4.800e+03       nan 4.200e+04 ... 8.880e+04 6.500e+01 1.605e+05]
-------------------------------------

In [47]:
df['Age'].unique()

array(['25-34 years old', '18-24 years old', '35-44 years old',
       'Prefer not to say', '45-54 years old', 'Under 18 years old',
       '65 years or older', '55-64 years old', nan], dtype=object)

In [ ]:
# We have also the SOAccount feature that have a form 
# of boolean feature with three possible values 
# Yes, No, not sure which could be translated to 1, -1, 0

# ---------------------------------------------------------------------

# SOComm is another feature that have a form of slider 
# of 5/6 possible values